[submodule "bundle/pathogen"]
	path = bundles_available/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/fugitive"]
	path = bundles_available/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/abolish"]
	path = bundles_available/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "bundle/surround"]
	path = bundles_available/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/nerdtree"]
	path = bundles_available/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/tabular"]
	path = bundles_available/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/pandoc"]
	path = bundles_available/pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "bundle/pandoc-syntax"]
	path = bundles_available/pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "bundle/gitgutter"]
	path = bundles_available/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/sensible"]
	path = bundles_available/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "bundle/gnupg"]
	path = bundles_available/gnupg
	url = https://github.com/vim-scripts/gnupg.vim
[submodule "bundle/airline"]
	path = bundles_available/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/guicolorscheme"]
	path = bundles_available/guicolorscheme
	url = https://github.com/thinca/vim-guicolorscheme
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
[submodule "bundle/tagbar"]
	path = bundles_available/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/csv"]
	path = bundles_available/csv
	url = https://github.com/chrisbra/csv.vim
[submodule "bundles_available/exchange"]
	path = bundles_available/exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "bundles_available/gundo"]
	path = bundles_available/gundo
	url = http://github.com/sjl/gundo.vim
[submodule "bundles_available/rust"]
	path = bundles_available/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "bundles_available/toml"]
	path = bundles_available/toml
	url = https://github.com/cespare/vim-toml
[submodule "bundles_available/coffee-script"]
	path = bundles_available/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundles_available/ultisnips"]
	path = bundles_available/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule "bundles_available/coffee"]
	path = bundles_available/coffee
	url = https://github.com/kchmck/vim-coffee-script/
[submodule "bundles_available/snipmate"]
	path = bundles_available/snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "bundles_available/snippets"]
	path = bundles_available/snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundles_available/mw-utils"]
	path = bundles_available/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "bundles_available/tlib_vim"]
	path = bundles_available/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "bundles_available/racer"]
	path = bundles_available/racer
	url = https://github.com/phildawes/racer
[submodule "bundles_available/better-whitespace"]
	path = bundles_available/better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "bundles_available/syntax_cpp_enhanced"]
	path = bundles_available/syntax_cpp_enhanced
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundles_available/fswitch"]
	path = bundles_available/fswitch
	url = https://github.com/derekwyatt/vim-fswitch/
[submodule "bundles_available/swift"]
	path = bundles_available/swift
	url = https://github.com/toyamarinyon/vim-swift
[submodule "bundles_available/YouCompleteMe"]
	path = bundles_available/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundles_available/flake8"]
	path = bundles_available/flake8
	url = https://github.com/nvie/vim-flake8
[submodule "bundles_available/airline-themes"]
	path = bundles_available/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundles_available/one_colorscheme"]
	path = bundles_available/one_colorscheme
	url = https://github.com/rakr/vim-one
[submodule "bundles_available/elixir"]
	path = bundles_available/elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule "bundles_available/ctrlp"]
	path = bundles_available/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundles_available/ack.vim"]
	path = bundles_available/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "bundles_available/neomake"]
	path = bundles_available/neomake
	url = https://github.com/neomake/neomake
[submodule "bundles_available/typescript"]
	path = bundles_available/typescript
	url = https://github.com/leafgarland/typescript-vim
